<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>철길 마을</title>

    <link rel="stylesheet" href="style.css">
    <script src="site.js"></script>
</head>
<body>
    <div id="wrap">
        <main id="main">
            <header id="header">
                <h1 class="logo">
                    <a href="#">철길마을</a>
                </h1>
                <nav class="nav">
                    <ul>
                        <li><a href="#">철길 마을</a>
                            <ul class="submenu">
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                            </ul>
                        </li>
                        <li><a href="#">주변맛집</a>
                            <ul class="submenu">
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                            </ul>
                        </li>
                        <li><a href="#">주변 여행지</a>
                            <ul class="submenu">
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                            </ul>
                        </li>
                        <li><a href="#">도움마당</a>
                            <ul class="submenu">
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">은파호수공원</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
            <!-- header -->
            
            <section id="contents">
                <article class="banner">
                        <h3>기차 여행</h3>
                        <a href="#">떠나기</a>
                </article>
                <article class="notice">
                    <h3>철길 마을 공지사항</h3>
                    <ul>
                        <li><a href="#">철길 마을 축제 일정 변경 안내</a><span>2022.03.04</span></li>
                        <li><a href="#">철길 마을 축제 일정 변경 안내</a><span>2022.03.04</span></li>
                        <li><a href="#">철길 마을 축제 일정 변경 안내</a><span>2022.03.04</span></li>
                        <li><a href="#">철길 마을 축제 일정 변경 안내</a><span>2022.03.04</span></li>
                        <li><a href="#">철길 마을 축제 일정 변경 안내</a><span>2022.03.04</span></li>
                    </ul>
                    <a href="#" class="more">더보기+</a>
                </article>
                <article class="gallery">
                    <h3>철길 마을 갤러리</h3>
                    <ul>
                        <li><a href="#">최고의 뷰</a></li>
                        <li><a href="#">위험한 뷰</a></li>
                        <li><a href="#">아름다운 뷰</a></li>
                    </ul>
                    <a href="#" class="more">더보기+</a>

                </article>
                <article class="link">
                    <ul>
                        <li><a href="#">연락처</a></li>
                        <li><a href="#">분실물</a></li>
                        <li><a href="#">예약</a></li>
                        <li><a href="#">전화하기</a></li>
                    </ul>
                </article>
            </section>
            <!-- contents -->

            <article id="slider">
                <div class="slider__wrap">
                    <div class="slider s1">
                        <div class="text">
                            <h3>추억을 소환하는 철길마을</h3>
                            <p>철길마을</p>
                        </div>
                    </div>
                    <div class="slider s2">
                        <div class="text">
                            <h3>추억을 소환하는 철길마을</h3>
                            <p>철길마을</p>
                        </div>
                    </div>
                    <div class="slider s3">
                        <div class="text">
                            <h3>추억을 소환하는 철길마을</h3>
                            <p>철길마을</p>
                        </div>
                    </div>
                </div>
            </article>
            <!-- slider -->
        </main>
        <footer id="footer">
            <div class="footer1">
                <h4>철길 마을</h4>
            </div>
            <div class="footer2">
                <div class="footer2-1">
                </div>
                <div class="footer2-2"></div>
            </div>
            <div class="footer3"></div>
        </footer>
    </div>
</body>
</html>