.bg2 {
    background: #F6F5EF;
}
#mypage__wrap {
    font-family: var(--main__ko);
    margin: 120px;
    
}
.mypage__main {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.mypage__asid {
    width: 300px;

}
.mypage__right {
    width: calc(100% - 320px);

}
/* profile */
.profile__box {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 20px 50px 20px;
    border: 3px double rgba(0, 0, 0, 0.5);
    background-color: #fff;

}
.profile__img {
    box-sizing: border-box;
    width: 100%;
    

}
.profile__img img {
    width: 100%;
    border-radius: 50%;


}
.profile__info {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 10px;
    font-family: var(--main__en);

}
.profile__info .nick {
    font-size: 20px;
    font-weight: 500;
}
.profile__info .email {
    font-size: 15px;
    font-weight: 300;

}

.profile__nav {
    text-align: left;
}
.nav__list > ul {
    border: 1px solid #000;
    padding: 20px;
}
.nav__list > ul > li {
    list-style: none;

}
.nav__list > ul > li a {
    color: #000;  
    padding: 10px;  

}

.nav__list > ul > li > ul {
    /* display: none; */
    display: inline;
}
.nav__list > ul > li > ul > li {
    list-style: none;
    padding-top: 15px;
    padding-left: 10px;
    
}
.nav__list > ul > li > ul > li a {
    color: #000;
    text-decoration: none;

}



/* myinfo */
.myinfo {
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    background-color: #fff;
    padding: 30px;
}
.myinfo h2 {
    margin-left: 10px;
    font-size: 18px;
    position: relative;
}
.myinfo h2::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 18px;
    background-color: #03351a;
    top: 4px;
    left: -20px;
}

.myinfo__profile {
    display: flex;
}
.myinfo__profile figure {
    display: flex;
}
.myinfo__profile figure img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #090202;
    margin-right: 30px;
    margin-left: -30px;
}
.myinfo__profile a button {
    margin-top: 45%;
    align-items: center;
}
.myinfo__info>p {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 700;
}
.myinfo__info>span {
    font-size: 10px;
    color: #888;
}
.myinfo__info>div {
    margin: 0px 0 0 20px;

}
.myinfo__info>div p {
    margin-left: 35%;
    box-sizing: border-box;
    display: inline-block;

}
.myinfo__info>div:last-child p {
    margin-left: 33%;
}
/* myplt */
.myplt {
    width: 100%;
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 30px;
}
.myplt__title {
    display: flex;
    justify-content: space-between;
   
}
.myplt__title a {
    display: block;
    color: #000;
    margin: auto 0;
}
.myplt h2 {
    font-size: 18px;
    margin-left: 10px;
    position: relative;
}
.myplt h2::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 18px;
    background-color: #03351a;
    top: 4px;
    left: -20px;
}
.myplt__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.myplt__card {
    width: 32.3333%;
}
.myplt__card img {
    width: 100%;
    height: 400px;
    border-bottom: 10px solid green;
}
/* mywrite */
.mywrite {
    width: 100%;    
    background-color: #fff;
    margin-top: 30px;
    padding: 30px;  
    box-sizing: border-box;
}
.mywrite h2 {
    margin-left: 10px;
    font-size: 18px;
    position: relative;
}
.mywrite h2::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 18px;
    background-color: #03351a;
    top: 4px;
    left: -20px;
}
.mywrite_title {
    display: flex;
    justify-content: space-between;
}
.mywrite_title a {
    display: block;
    margin: auto 0;
    color: #000;

}
.mywrite__list {
    padding: 20px;
    text-align: left;
}
.mywrite__list li {
    list-style: none;
    padding: 10px;
    border: 1px solid #777;
    margin-bottom: 5px;
    color: #000;
}
.mywrite__list a {
    text-decoration: none;
}
/* mycomment */
.mycomment {
    width: 100%;
    background-color: #fff;
    margin-top: 30px;
    padding: 30px;  
    box-sizing: border-box;
}
.mycomment h2 {
    margin-left: 10px;
    font-size: 18px;
    position: relative;
}
.mycomment h2::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 18px;
    background-color: #03351a;
    top: 4px;
    left: -20px;
}
.mycomment_title {
    display: flex;
    justify-content: space-between;
}
.mycomment_title a {
    display: block;
    margin: auto 0;
    color: #000;
}
.mycomment__list {
    padding: 20px;
    text-align: left;
}
.mycomment__list li {
    list-style: none;
    padding: 10px;
    border: 1px solid #777;
    margin-bottom: 5px;
    color: #000;
}
.mycomment__list a {
    text-decoration: none;
}

