<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .content {
            float: left;
            width: 70%;
            height: 1080px;
            background-color: #87d805;
        }

        .sidebar {
            float: right;
            width: 30%;
            height: 1080px;
            background-color: #0da91f;
        }

        .content-wrapper {
            overflow: hidden;
            background-color: #d4ff00;
        }
    </style>
</head>

<body>
    <div class="header">Header</div>
    <div class="content-wrapper">
        <div class="content">Content</div>
        <div class="sidebar">Sidebar</div>
        <div style="clear: both;"></div>
    </div>
    <div class="footer">Footer</div>
</body>

</html>