/* header */
* {
}

#header {
    height: 100px;
    padding-top: 30px;

}
.left {
    width: 20%;
    text-align: left;
    padding: 0;
}
.left .logo {
    width: 40%;
}
.left .logo a {
    color: var(--color__green);
    font-family: var(--main__en);
    font-size: 30px;
    font-weight: 900;
}
.nav__inner {
    width: 70%;
    text-align: right;
    padding-top: 30px;
    padding-bottom: 10px;
}
.right {
    width: 10%;
    text-align: right;
    padding-top: 30px;


}

.right ul li a {
    color: var(--color__black);
    font-weight: 300;
    font-family: var(--main__en);
    font-size: 14px;

}
.header__inner {
    display: flex;
    justify-content: space-between;
}
.nav__inner ul {
    display: flex;
    justify-content: right;
    gap: 60px;

}
.nav__inner ul li {
    display: inline-block;
    
}
.nav__inner ul li a {
    font-size: 18px;
    color: var(--color__green);
    font-family: var(--main__ko);
    font-weight: 300;
    align-items: end;
}

/* footer */
#footer {
    margin-top: 70px;
    margin-bottom: 70px;
}
.footer__inner {
    font-size: 14px;
    text-align: center;
    font-family: var(--main__en);
    font-weight: 300;
    color: var(--color__black);
}