@font-face {
    font-family: Futura;
    src: url('.../FuturaStdRegular.woff');
    font-weight: normal;
  }
  @font-face {
    font-family: Futura;
    src: url('.../FuturaStdLight.woff');
    font-weight: 300;
  }
  @font-face {
    font-family: Futura;
    src: url('.../FuturaStdBoldItalic.woff');
    font-weight: 700;
    font-style: italic;
  }